<section class="nutrition">
    <h1>СПОРТИВНЕ ХАРЧУВАННЯ</h1>
    <div class="important-note">
        <h2>ОБОВ'ЯЗКОВО ДО ПРОЧИТАННЯ!</h2>
        <p>Спортивне харчування не є обов'язковим. Ця таблиця складена на той випадок, якщо ти захочеш щось приймати. Протеїн і гейнер розглядаючи не як ефективну добавку, а як звичайне доповнення до їжі. Їж за фактом протеїн - звичайний білок. Гейнер - звичайні вуглеводи з білком.</p>
        <p>Здесь указаны самые распространенные добавки. Если здесь нет варианта, который есть у тебя - спрашивай о приеме у меня в инстаграме.</p>
        <p>Головний упор ти повинен робити на їжу, а не на спортивне харчування!</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>ДОДАТОК</th>
                <th>ДІЯ</th>
                <th>ЯК ПРИЙМАТИ</th>
                <th>КУРС ПРИЙОМУ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>КРЕАТИН</td>
                <td>Підвищення силових показників, силової витривалості. Збільшення ваги за рахунок затримки води.</td>
                <td>5 грам після сніданку кожного дня. Доп. 5 грам після тренування. Вдень пити достатню кількість води. Щодня випивати 2-3 літри води.</td>
                <td>1-1,5 місяця прийому, 1 місяць перерва</td>
            </tr>
            <tr>
                <td>ПРОТЕЇН</td>
                <td>Додавання до їжі. Додатковий білок. Користь підвищення норми білка.</td>
                <td>Порція 30-35 грам. На 250 мл води або молока.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>ГЕЙНЕР</td>
                <td>Додавання до їжі. Додаткові вуглеводи і білок.</td>
                <td>Порція 100-150 грам. На 400 мл води або молока.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>ГЛЮТАМІН</td>
                <td>Поліпшення відновлення, підвищення імунітету.</td>
                <td>5 грам після тренування і 5 грам на ніч.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>BCAA</td>
                <td>На ріст м'язів не впливає. Зменшує втрату м'язів під час тренувань, дод. енергія.</td>
                <td>5-10 грам за 15 хв до тренування або під час тренування/кардіо.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>АМІНОКИСЛОТИ</td>
                <td>Поліпшення відновлення. Під час не вживати. Підходить для веганів, тих хто не споживає достатньо білка з їжі.</td>
                <td>5 грам після тренування і 5 грам на ніч. 5-10 грам за 15 хв до або під час тренування/кардіо.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>ВІТАМІНИ</td>
                <td>Поліпшення відновлення. Позитивний вплив на стан здоров'я в загальному.</td>
                <td>Порція вітамінів через 30 хвилин після сніданку.</td>
                <td>1 місяць прийому, 1 місяць перерва</td>
            </tr>
            <tr>
                <td>ОМЕГА 3</td>
                <td>Поліпшення відновлення. Позитивний вплив на стан здоров'я в загальному.</td>
                <td>Порція вітамінів через 30 хвилин після сніданку.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>ПЕРЕДТРЕНУВАЛЬНИЙ КОМПЛЕКС</td>
                <td>Підвищення працездатності та енергії.</td>
                <td>Порція залежить від марки. Рекомендується приймати не більше 2 рази в тиждень.</td>
                <td>За необхідністю. Не зловживати частим прийомом</td>
            </tr>
            <tr>
                <td>КАРНІТИН</td>
                <td>Позитивний ефект жироспалювання при кардіонавантаженнях.</td>
                <td>До 2000 мг за 30-40 хвилин до кардіо тренування.</td>
                <td>1-1,5 місяця прийому, 1 місяць перерва</td>
            </tr>
            <tr>
                <td>БУСТЕРИ ТЕСТОСТЕРОНА</td>
                <td>Підвищення вироблення власного тестостерону.</td>
                <td>Порція, зазначена на упаковці, через 30 хвилин після сніданку.</td>
                <td>1 місяць прийому, 1 місяць перерва</td>
            </tr>
            <tr>
                <td>ХОНДРОПРОТЕКТОРИ</td>
                <td>Поліпшення стану суглобів і зв'язок.</td>
                <td>Порція, зазначена на упаковці, через 30 хвилин після сніданку.</td>
                <td>3 місяці прийому, 2 місяці перерва</td>
            </tr>
            <tr>
                <td>ЦИТРУЛІН МАЛАТ АБО АРГІНІН</td>
                <td>Поліпшення кровообігу. Після цього - краще пампінг під час тренування.</td>
                <td>6 грам за 20 хв до тренування, 5 грам на ніч.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
            <tr>
                <td>ГАБА</td>
                <td>Заспокоює нервову систему, поліпшує якість сну.</td>
                <td>4 грами за 30 хв до сну.</td>
                <td>1 місяць прийому, 1 місяць перерва</td>
            </tr>
            <tr>
                <td>БЕТА-АЛАНІН</td>
                <td>Поліпшення кровообігу, більше сил на тренуваннях.</td>
                <td>6 грам за 20 хв до тренування.</td>
                <td>Обмеження в тривалості прийому немає</td>
            </tr>
        </tbody>
    </table>
    <div class="manufacturers">
        <h2>ХОРОШІ ВИРОБНИКИ СПОРТИВНОГО ХАРЧУВАННЯ</h2>
        <p>У світі існує велика кількість виробників. Всі їх випробувати у мене можливості немає. Тому, тут я назву тільки основні виробники, які на 100 відсотків мають якісний продукт:</p>
        <ul>
            <li>Myprotein</li>
            <li>Scitec Nutrition</li>
            <li>Optimum Nutrition</li>
            <li>Universal</li>
            <li>Biotech USA</li>
            <li>Muscle Pharm</li>
        </ul>
        <p>Часто мене запитують про хороший гейнер на складних вуглеводах. Таких я знаю небагато, а саме 3 позиції:</p>
        <ul>
            <li>SAN Mass Effect Revolution</li>
            <li>Myprotein Weight Gainer</li>
            <li>Mutant Mass</li>
        </ul>
    </div>
    <div class="optimal-sets">
        <h2>ОПТИМАЛЬНІ НАБОРИ СПОРТИВНОГО ХАРЧУВАННЯ</h2>
        <table>
            <thead>
                <tr>
                    <th>ЦІЛЬ</th>
                    <th>БЮДЖЕТНИЙ НАБІР</th>
                    <th>СЕРЕДНІЙ БЮДЖЕТ</th>
                    <th>НЕОБМЕЖЕНИЙ БЮДЖЕТ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>НАБІР</td>
                    <td>Креатин, Вітаміни</td>
                    <td>Креатин, вітаміни, омега 3, цитрулін малат, глютамін</td>
                    <td>Креатин, вітаміни, омега 3, цитрулін малат, глютамін, амінокислотний комплекс...</td>
                </tr>
                <tr>
                    <td>СУШКА</td>
                    <td>Вітаміни, Омега 3</td>
                    <td>Вітаміни, Омега 3, глютамін</td>
                    <td>Вітаміни, Омега 3, амінокислотний комплекс, передтренувальний комплекс, карнітин</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>