@import "typography";
@import "variables";

bk-register {
  display: flex;
  flex-direction: column;
  height: 100vh;



  .bk-container {
    width: 100%;
    height: 100%;
    background: $hs-secondary-grey-00;
    padding: 24px;
    padding-top: 150px;
    //margin-bottom: 450px;
  }

  .bk-login-header {
    color: $hs-primary;
    font-size: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  .bk-login-error {
    color: $hs-error;
  }

  .bk-login-form {
    width: 450px;
  }

  @media (max-width: 768px) {
    height: 100vh; /* Забезпечує мінімальну висоту */
    //overflow: hidden;
    overflow-y: auto; /* Дозволяє прокручування */
    //-webkit-overflow-scrolling: touch;

    .bk-container {
      height: 140vh !important;
      padding-top: 30px;
      .bk-login-form {
        height: 110vh;

      }
    }
  }

}
