@import "variables";

$iq-checkbox-checkmark-size: var(--iq-checkbox-checkmark-size);
$iq-checkbox-checkmark-color: white;
$iq-checkbox-border-color-active: $hs-primary;
$iq-checkbox-border-color: #98A2B3;
$iq-checkbox-disabled-background-color: #E4E7EC;;
$iq-checkbox-primary-box-shadow-color: #F1F3F5;
$iq-checkbox-disabled-box-shadow-color: #E4E7EC;;
$iq-checkbox-disabled-checkmark-color: #98A2B3;
$iq-checkbox-label-color: $hs-secondary-grey-04;
$iq-checkbox-border-radius: 1px;

.iq-checkbox {
  display: flex;

  .icon-check {
    display: none;
    font-weight: 700;
    color: white;
  }

  .iq-checkbox-label {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-block;

    &.iq-checkbox-disabled {
      cursor: default;
      pointer-events: none;

      .checkmark {
        background-color: $iq-checkbox-disabled-background-color;
      }

      &:hover input ~ .iq-checkbox-wrapper .checkmark {
        background-color: $iq-checkbox-disabled-background-color;
        // box-shadow: 0 0 0 2px $iq-checkbox-disabled-box-shadow-color;
      }

      

      input:checked:not(:indeterminate) ~ .iq-checkbox-wrapper .checkmark {
        border: 2px solid $iq-checkbox-border-color;
        border-radius: $iq-checkbox-border-radius;
        background-color: white;
        opacity: 0.6;
        .icon-check {
          color: $iq-checkbox-disabled-checkmark-color;
        }
        // svg {
        //   fill: $iq-checkbox-disabled-checkmark-color;
        // }
      }

      input:indeterminate ~ .iq-checkbox-wrapper .checkmark {
        border: none;
        background-color: $iq-checkbox-disabled-background-color;

        .indeterminate-line {
          visibility: visible;
          background-color: $iq-checkbox-disabled-checkmark-color;
        }
      }
    }

    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    .checkmark {
      box-sizing: border-box;
      height: $iq-checkbox-checkmark-size;
      width: $iq-checkbox-checkmark-size;
      min-width: $iq-checkbox-checkmark-size;
      min-height: $iq-checkbox-checkmark-size;
      border: 2px solid $iq-checkbox-border-color;
      border-radius: $iq-checkbox-border-radius;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .iq-checkbox-text {
      font-size: 0.875rem;
      color: $iq-checkbox-label-color;
      font-weight: 600;
      padding-left: 12px;
    }

    .iq-checkbox-wrapper {
      display: flex;
      // align-items: center;
    }

    /* On mouse-over, add background color */
    &:hover input ~ .iq-checkbox-wrapper .checkmark {
      // box-shadow: 0 0 0 2px $iq-checkbox-primary-box-shadow-color;
      border: 2px solid $iq-checkbox-border-color-active;
    }

    &:hover {
      .iq-checkbox-text {
        color: $iq-checkbox-border-color-active !important;
      }
    }
  

    /* When the checkbox is checked, add background */
    input:checked:not(:indeterminate) ~ .iq-checkbox-wrapper .checkmark {
      border-color: $iq-checkbox-border-color-active;
      background:  $iq-checkbox-border-color-active;
      border-radius: $iq-checkbox-border-radius;
      .icon-check { 
        display: block;
      }
      //background-color: $iq-checkbox-primary-background-color;
    }

    input:indeterminate ~ .iq-checkbox-wrapper .checkmark {
      border: none;
      //background-color: $iq-checkbox-primary-background-color;

      .indeterminate-line {
        visibility: visible;
      }
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark {
      .iq-checkbox-custom-checkmark {
        width: $iq-checkbox-checkmark-size;
        height: $iq-checkbox-checkmark-size;
        position: absolute;
        top: -1;
        left: -1;
      }

      svg {
        width: calc($iq-checkbox-checkmark-size - 2px);
        height: calc($iq-checkbox-checkmark-size - 2px);
        position: absolute;
        top: -1;
        left: -1;
        font-size: calc($iq-checkbox-checkmark-size - 2px);
        opacity: 0;
      }

      .indeterminate-line {
        width: calc(#{$iq-checkbox-checkmark-size} - 4px);
        height: 2px;
        background-color: $iq-checkbox-checkmark-color;
        visibility: hidden;
      }
    }

    /* Show the checkmark when checked */
    input:checked ~ .iq-checkbox-wrapper .checkmark svg {
      opacity: 1;
    }

    /* Style the checkmark/indicator */
    .checkmark {
      svg {
        fill: $iq-checkbox-checkmark-color;
      }
    }
  }
}
