<!--<a href="https://t.me/buk_fit_chat_bot?start=ZGw6Mjk1NTA3" class="ss-btn" >Перейти в бот</a>-->
<div class="poll-app">
  <header class="app-header" *ngIf="!isCompleted">
    <div class="brand">
      <span class="dot"></span>
      <span class="brand-name">BUK-FIT</span>
    </div>

    <div class="progress">
      <div class="bar" [style.width.%]="getProgressPercentage()"></div>
    </div>
  </header>

  <div class="poll-stepper-container">
    <div #stepContainer [hidden]="isCompleted" ></div>

    <div *ngIf="isCompleted" class="poll-stepper-field-container thankyou">
      <p class="poll-stepper-question">
        Дякую, що пройшли наш квіз 💙
        Результати вже збережено  📲
      </p>

      <div class="flex justify-content-center">
        <div class="loader mt-24"></div>
      </div>
    </div>
  </div>

<!--  <nav class="poll-stepper-navigation" *ngIf="!isCompleted">-->
<!--    <button class="ghost" (click)="goToPreviousStep()" [disabled]="currentStepIndex() === 0">Назад</button>-->
<!--    <div class="steps-indicator" aria-label="кроки">-->
<!--      <span *ngFor="let step of stepperState(); let i = index" [class.active]="i === currentStepIndex()"></span>-->
<!--    </div>-->
<!--    <button class="primary" (click)="goToNextStep()">-->
<!--      {{ currentStepIndex() === stepperState().length - 1 ? 'Завершити' : 'Далі' }}-->
<!--    </button>-->
<!--  </nav>-->
</div>
