<section class="diet-calculation">
    <h1>РОЗРАХУНОК РАЦІОНУ</h1>
    <div class="important-note">
        <h2>ОБОВ'ЯЗКОВО ДО ПРОЧИТАННЯ!</h2>
        <p>У таблиці внесені випадкові продукти з випадковою вагою! Це просто приклад! У кожного свої можливості і вподобання, тому можеш заповнити сам.</p>
        <p>Всі продукти зважуються і рахуються у сирому вигляді.</p>
        <p>З таблицею працювати дуже легко, і в той же час вона дуже корисна, і допоможе не мучитися зі складанням раціону.</p>
        <p>У стовпці "Продукти" вибери з випадаючого списку необхідний продукт.</p>
        <p>Якщо в цьому списку немає потрібного тобі продукту, то в вкладці "Список продуктів" ти можеш додати будь-який продукт і він з'явиться тут.</p>
        <p>У другому стовпці введи вагу вибраного продукту.</p>
        <p>У наступних стовпцях автоматично з'являться кількість білків (рослинних і тваринних), вуглеводів, жирів, калорій.</p>
        <p>БЖУ і калорії сумуються під кожним прийомом їжі, і так само підводяться підсумки за день.</p>
        <p>В самому низу є таблиця, яка показує баланс по БЖУ.</p>
        <p>Пояснення, як розуміти стовпці "Не вистачає" і "Перебір" є в самому низу.</p>
    </div>
</section>