
<div class="panel-wrapper relative">
    <div class="mobile-header flex justify-content-end">
      <div class="mobile-header-actions flex align-items-center">
<!--        <div>-->
<!--          <img src="../../assets/images/buk-horizontal.png" alt="">-->
<!--        </div>-->
        <div class="mobile-menu-pay p-14" *ngIf="payment" (click)="moveToPayment()">
          <i class="icon-money fs-18 pointer"></i>
          <div class="mobile-menu-pay-circle">1</div>
        </div>

        <div class="mobile-menu-logout p-14" (click)="logOut()">
          <i class="icon-sign-out fs-18 pointer"></i>
        </div>
      </div>

    </div>

    <div class="flex panel-body">
              <div class="menu-list-side-bar">
            <hs-menu-list></hs-menu-list>
        </div>

        <div class="panel-content flex-1 overflow-hidden">
            <div class="panel-content-scroll">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
