
<div class="panel-wrapper relative">
    <div class="mobile-header flex justify-content-between">
        <div class="mobile-menu-triggrs mr-16 p-14">
            <i class="icon-menu fs-18 pointer" *ngIf="!isOpen" (click)="openMenu(true)"></i>
            <i class="icon-cross fs-18 pointer" *ngIf="isOpen" (click)="openMenu(false)"></i>
        </div>

      <div class="mobile-menu-pay p-14" *ngIf="payment" (click)="moveToPayment()">
        <i class="icon-money fs-18 pointer"></i>
        <div class="mobile-menu-pay-circle">1</div>
      </div>

    </div>

    <div class="flex panel-body">
              <div class="menu-list-side-bar">
            <hs-menu-list></hs-menu-list>
        </div>

        <div class="panel-content flex-1 overflow-hidden">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
