<div class="users-calories-container ">
  <div class="flex justify-content-end">
    <hs-button size="medium" color="error" class=" mr-8" (click)="clearForm()" [text]="'Очистити все'"></hs-button>
    <hs-button size="medium" class="" (click)="updateCaloriesData()" [text]="'Оновити'"></hs-button>
  </div>

  <div class="mt-12 mb-12  valories-all-values">
    <h3 class="bk-title-primary">Загальні значення</h3>
    <div>
      <label class="bk-title-secondary">Білки: {{ getTotal('proteins') }}   </label>
      <div *ngIf="errors.proteins" class="fc-error">Ви перевищили норму білків, Ваша норма {{ user.proteins }} г</div>
    </div>
    <div>
      <label class="bk-title-secondary">Жири: {{ getTotal('fats') }}</label>
      <div *ngIf="errors.fats" class="fc-error">Ви перевищили норму жирів, Ваша норма {{ user.fats }}</div>
    </div>
    <div>
      <label class="bk-title-secondary">Вуглеводи: {{ getTotal('carbohydrates') }}</label>
      <div *ngIf="errors.carbohydrates" class="fc-error">Ви перевищили норму вуглеводів, Ваша норма {{ user.carbohydrates }}</div>
    </div>
    <div>
      <label class="bk-title-secondary">Калорії: {{ getTotal('calories') }}</label>
      <div *ngIf="errors.calories" class="fc-error">Ви перевищили норму калорій, Ваша норма {{ user.calories }}</div>
    </div>
  </div>

  <form [formGroup]="formGroup">
    <div formArrayName="days">
      <div *ngFor="let day of days.controls; let dayIndex = index" [formGroupName]="dayIndex">
        <h2 class="bk-title-primary">Прийом {{ dayIndex + 1 }}</h2>
        <div formArrayName="meals">
          <div *ngFor="let meal of day.get('meals').controls; let mealIndex = index" [formGroupName]="mealIndex">

            <div formArrayName="products">
              <div *ngFor="let product of meal.get('products').controls; let productIndex = index"
                [formGroupName]="productIndex">
                <h3>Інградієнт {{ productIndex + 1 }}</h3>
                <hs-form-field class="mr-8 w-100">
                  <hs-select [enableSearch]="true" [dropdownMinWidth]="200" formControlName="product">
                    <hs-select-option (click)="calculateNutrients(dayIndex, mealIndex)" *ngFor="let p of products"
                      [value]="p.product">{{ p.product }}</hs-select-option>
                  </hs-select>
                </hs-form-field>

                <hs-form-field class="mr-8 w-100">
                  <hs-label>Вага (грам)</hs-label>
                  <input iqInput formControlName="weight" type="number"
                    (input)="calculateNutrients(dayIndex, mealIndex)" />
                </hs-form-field>

                <div class="flex w-100 justify-content-between mb-8"
                  *ngIf="productIndex == meal.get('products').controls.length - 1">

                  <div>
                    <hs-button size="medium" class="mt-14" (click)="addProduct(dayIndex, mealIndex)"
                      [text]="'Додати продукт'"></hs-button>
                  </div>

                  <div>
                    <hs-button size="medium" mode="text" class="mt-14"
                      [isDisabled]="meal.get('products').controls.length - 1 == 1"
                      (click)="removeProduct(dayIndex, mealIndex, productIndex)" [text]="'Видалити продукт'"></hs-button>

                  </div>
                </div>
              </div>
            </div>

            <div class="calc-results" *ngIf="mealNutrients[dayIndex] && mealNutrients[dayIndex][mealIndex]">
              <div class="flex bk-two-fields">
                <label>Білки: {{ mealNutrients[dayIndex][mealIndex]?.proteins }}</label>
              </div>
              <div class="flex bk-two-fields">
                <label>Жири: {{ mealNutrients[dayIndex][mealIndex]?.fats }}</label>
              </div>
              <div class="flex bk-two-fields">
                <label>Вуглеводи: {{ mealNutrients[dayIndex][mealIndex]?.carbohydrates }}</label>
              </div>
              <div class="flex bk-two-fields">
                <label>Калорії: {{ mealNutrients[dayIndex][mealIndex]?.calories }}</label>
              </div>
            </div>

            <div class="hs-splitter w-100 mt-32 mb-32"></div>
          </div>
        </div>

        <div class="w-100 flex justify-content-end" *ngIf="dayIndex == days.controls.length - 1">
          <hs-button size="medium" class="mt-14" (click)="addDay()" [text]="'Додати Прийом'"></hs-button>
          <hs-button size="medium" mode="text" [isDisabled]="days.controls.length <= 1" class="mt-14"
            (click)="removeDay(dayIndex)" [text]="'Видалити Прийом'"></hs-button>
        </div>
      </div>
    </div>
  </form>
</div>
