<div class="poll-stepper-field poll-stepper-welcome">
  <div class="buk-fit-logo">
    BUK FIT
  </div>

  @if (type ==='TRAINING_HOME') {
    <h1 class="poll-stepper-title">
      Отримайте безкоштовний гайд “Як схуднути вдома без спортзалу” <br />
    </h1>
    <span class="poll-stepper-sub">Дайте відповіді на 3 короткі запитання — і ми надішлемо вам меню та вправи без обладнання, щоб почати зміни вже сьогодні.</span>
  }
  @if (type ==='SEVEN_MISTAKES') {
    <h1 class="poll-stepper-title">
      Дізнайтесь топ-7 помилок, через які не виходить схуднути <br />
    </h1>
    <span class="poll-stepper-sub">Пройдіть короткий квіз і отримайте чек-лист із порадами від тренера, як уникнути типових помилок і почати втрачати вагу.</span>
  }

  @if (type ==='THREE_DAYS') {
    <h1 class="poll-stepper-title">
      Отримайте безкоштовний чек-лист “Меню + тренування на 3 дні <br />
    </h1>
    <span class="poll-stepper-sub">
          Дайте відповідь на 3 короткі запитання й залиште контакт — ми надішлемо
    готове меню, тренування та поради, як стартувати шлях до фігури мрії 💙
    </span>
  }

  @if (type ==='INDIVIDUAL_PLAN') {
    <h1 class="poll-stepper-title">
      Хочеш отримати персональний план занять і харчування від тренера BUK FIT? <br />
    </h1>
    <span class="poll-stepper-sub flex flex-column">
        <div>
            Пройди короткий тест — і дізнайся, з чого почати свій шлях до фігури мрії
        </div>
        <div>
          Після заповнення отримаєш безкоштовну консультацію тренера
        </div>
    </span>
  }



<!--  <p class="poll-stepper-subtitle">-->
<!--    Відповідайте на 3 короткі запитання й залиште контакт — ми надішлемо-->
<!--    готове меню, тренування та поради, як стартувати шлях до фігури мрії 💙-->
<!--  </p>-->



  @if (type === 'INDIVIDUAL_PLAN') {
    <button class="primary" (click)="startGuide()">Отримати консультацію</button>
  } @else {
    <button class="primary" (click)="startGuide()">Отримати чек-лист</button>
  }

</div>
