@font-face {
  font-family: 'Montserrat';
  src: url('../fonts-source/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500; /* Можливо, 500 - це правильний font-weight для Medium, перевірте документацію шрифту */
  font-style: normal;
}