@font-face {
  font-family: 'Montserrat';
  src: url('../fonts-source/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700; /* Можливо, 700 - це правильний font-weight для Bold, перевірте документацію шрифту */
  font-style: normal;
}

 