@font-face {
  font-family: 'Montserrat';
  src: url('../fonts-source/Montserrat-Light.ttf') format('truetype');
  font-weight: 300; /* Можливо, 300 - це правильний font-weight для Light, перевірте документацію шрифту */
  font-style: normal;
}