<section class="nutrition-plan">
    <h1>ХАРЧУВАННЯ</h1>
    <div class="important-note">
        <h2>ОБОВ'ЯЗКОВО ДО ПРОЧИТАННЯ!</h2>
        <p>Харчування дуже важливо дотримуватись. Адже це ресурси для росту м'язів.</p>
        <p>Розрахувати раціон із вказаних бжу ти можеш у наступній вкладці "Розрахунок раціону".</p>
        <p>Випивай мінімум 2 літра води в день.</p>
        <p>Головне враховувати саме БЖУ, а не калорії. Так як дотримуючись правильних БЖУ, ти завжди отримуєш одне кількість калорій. Так як 1 грам білка = 4 ккал, 1 грам вуглеводів = 4 ккал, 1 грам жирів = 9 ккал.</p>
        <p>Білок враховуємо тільки тваринного походження! У рослинному білку не повний амінокислотний склад.</p>
        <p>Якщо до цього ти їв набагато менше/більше, то підвищуй/знижуй бжу поступово, щоб не отримати проблеми з ЖКТ.</p>
        <p>По БЖУ важливо вкладатися у вказані цифри за день, які я зазначив.</p>
        <p>Якщо не виходить стільки з'їдати за один прийом – можна підключити 1 невеликий додатковий перекус.</p>
        <p>У раціоні може бути присутня 30% простих вуглеводів.</p>
        <p>Ні в якому разі не нехтуй клітковиною (овочами).</p>
        <p>Додавати прості вуглеводи (наприклад, банан) без проблем можна після тренування.</p>
        <p>У дні відпочинку прості вуглеводи додавай у сніданок або перший обід.</p>
        <p>Час між прийомами неважливий, головне все з'їсти за день. Але, останній прийом їжі за 2-2,30 годин до сну.</p>
        <p>До тренування їж за 1,30-2 години.</p>
        <p>Якщо є гейнер або протеїн, то враховуй їх бжу, як з їжі. Це не чарівний порошок, а ті ж нутрієнти, як з продуктів.</p>
    </div>
</section>