<div class="poll-stepper-field">
  <p class="poll-stepper-question">{{ field.question }}</p>

  <label class="phone-input-wrap" [class.invalid]="touched && !isValid">
    <input
      type="tel"
      inputmode="tel"
      placeholder="+380"
      [mask]="phoneMask"
      [dropSpecialCharacters]="false"
      [value]="displayValue"
      (focus)="onFocus($event)"
      (input)="onInput($event)"
      (blur)="touched = true"
      aria-label="Номер телефону"
    />
  </label>

  <div class="hint">
    Введи номер у міжнародному форматі
    <strong>+380 ХХ ХХХ ХХ ХХ</strong> або будь-якої країни 🌍
  </div>

  <div class="error" *ngIf="touched && !isValid">
    Невірний номер. Перевір, будь ласка.
  </div>

  <div class="messenger-select">
    <p class="poll-stepper-question">Обери зручний месенджер для зв’язку:</p>

    <div class="flex poll-stepper-question-buttons">
      <button
        type="button"
        class="messenger-option"
        [class.selected]="selectedMessenger === 'telegram'"
        (click)="selectMessenger('telegram')"
      >
        <img
          src="assets/icons/telegram.webp"
          alt="Telegram"
          width="35"
          height="35"
        />
        Telegram
      </button>

      <button
        type="button"
        class="messenger-option"
        [class.selected]="selectedMessenger === 'viber'"
        (click)="selectMessenger('viber')"
      >
        <img src="assets/icons/viber.png" alt="Viber" width="35" height="35" />
        Viber
      </button>
    </div>

    <div class="error" *ngIf="!selectedMessenger && isSave">
      Оберіть тип комунікації, будь ласка.
    </div>

    <div class="flex justify-content-end w-100">
      <button class="primary-phone mt-16" (click)="savePhone()">
        @if (type === 'INDIVIDUAL_PLAN') {
          Отримати консультацію
        } @else {
          Перейти до чек-листа
        }

      </button>
    </div>
  </div>
</div>
