$text-silver: #00000066;
$border: #0000001a;
$hs-neutrals-active: #3A7EE9;
$hs-neutrals-light: #F2FBFF;
$hs-neutrals: #CBECFF;

$hs-background: #F5F5F5;
$hs-primary: #3FA1FB;
$hs-primary-dark: #002E76;
$hs-accend: #FC611F;
$hs-accend-gradient: linear-gradient(180deg, #FC611F 0%, #F79621 100%);
$hs-blue-gradient: linear-gradient(180deg, #3FA1FB 0%, #005DAD 100%);

$hs-success: #27AE60;
$hs-warning: #F2AF4A;
$hs-purple: #9B51E0;
$hs-error: #E95032;
$hs-black: #252525;

$hs-secondary-grey-00: #2525250A;
$hs-secondary-grey-01: #2525251A;
$hs-secondary-grey-02: #25252529;
$hs-secondary-grey-03: #25252561;
$hs-secondary-grey-04: #252525D9;

$hs-secondary-blue-03: #3FA1FBBF;
$hs-secondary-blue-02: #3FA1FB66;
$hs-secondary-blue-01: #3FA1FB1A;
$hs-secondary-blue-00: #3FA1FB0A;
